.customGrid{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    "friendDetails friendDetails days_since_contact goal next_due_date"
    "friendDetails friendDetails relationship_Goal relationship_Goal relationship_Goal"
    "buttons buttons Quick_check Quick_check Quick_check"
    ;
}
.friendDetails{
    grid-area: friendDetails;
}
.days_since_contact{
    grid-area: days_since_contact;
}
.goal{
    grid-area: goal;
}
.next_due_date{
    grid-area: next_due_date;
}
.relationship_Goal{
    grid-area: relationship_Goal;
}
.buttons{
    grid-area: buttons;
}
.Quick_check{
    grid-area: Quick_check;
}



           @media screen and (max-width:992px){
            .customGrid{
                  grid-template-columns: repeat(3, 1fr);
            grid-template-areas: 
            
            "friendDetails friendDetails friendDetails"
            "days_since_contact goal next_due_date"
            "buttons relationship_Goal relationship_Goal"
            "Quick_check Quick_check Quick_check"
           

            ;
        }
        }

        @media screen and (max-width:576px){
               .customGrid{
                grid-template-columns: 1fr;
            grid-template-areas: 
            
            "friendDetails"
            "days_since_contact"
            "goal"
            "next_due_date"
            "relationship_Goal"
            "Quick_check"
            "buttons"

            ;
        }
        }